body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color:black;
    color:white;
  }

  h1{
  
    text-align:center;
    width:100%;
    margin-top:30px;
    font-size: 40px
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: black;
    border: 2px solid white;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 125px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 125px;
    color:white;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game-info {
    margin: 0 auto;
    margin-top:20px;
  }

  .game-board{
    margin:0 auto;
    margin-top:20px;
  }